@using TeknlojiŞirketi.Concrete
@model List<News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Haber Başlığı</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.DateTime</td>
            <td>@item.Image</td>
            <td><a href="/AdminNews/DeleteNews/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminNews/EditNews/@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminNews/AddNews" class="btn btn-info">Ekle</a>