@using TeknlojiŞirketi.Concrete
@model List<Solution>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Sİl</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Image</td>
            @*<td>@item.Location</td>*@
            <td><a href="/AdminSolution/DeleteSolution/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminSolution/EditSolution/@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminSolution/AddSolution" class="btn btn-info">Ekle</a>